<div class="container">
  <div class="content-form">
    <form [formGroup]="formulario" novalidate>

      <div class="title animate__animated animate__rubberBand">
        <h1><mat-icon>lock_person</mat-icon> Cadastro </h1>
      </div>

      <div class="form-groups">
        <input class="form-inputs" matInput formControlName="nome" placeholder="nome completo"
          [ngClass]="{'input-error': formulario.get('nome')?.invalid && (formulario.get('nome')?.dirty || formulario.get('nome')?.touched)}">
      </div>
      @if(formulario.get('nome')?.invalid && (formulario.get('nome')?.dirty || formulario.get('nome')?.touched)){
        @if(formulario.get('nome')?.hasError('required')) {
          <small class="msg-error">* campo obrigatório. </small>
        }
      }

      <div class="form-groups">
        <input class="form-inputs" matInput formControlName="email" placeholder="email@email.com"
          [ngClass]="{'input-error': formulario.get('email')?.invalid && (formulario.get('email')?.dirty || formulario.get('email')?.touched)}">
      </div>
      @if(formulario.get('email')?.invalid && (formulario.get('email')?.dirty || formulario.get('email')?.touched)){
        @if(formulario.get('email')?.hasError('required')) {
          <small class="msg-error">* campo obrigatório. </small>
        }
      }

      <div class="form-groups">
        <input class="form-inputs" matInput formControlName="telefone" placeholder="(81)98181-8181"
          [ngClass]="{'input-error': formulario.get('telefone')?.invalid && (formulario.get('telefone')?.dirty || formulario.get('telefone')?.touched)}">
      </div>
      @if(formulario.get('telefone')?.invalid && (formulario.get('telefone')?.dirty ||
      formulario.get('telefone')?.touched)){
        @if(formulario.get('telefone')?.hasError('required')) {
          <small class="msg-error">* campo obrigatório. </small>
        }
      }

      <div class="form-groups">
        <input class="form-inputs" matInput formControlName="senha" placeholder="senha"
          [ngClass]="{'input-error': formulario.get('senha')?.invalid && (formulario.get('senha')?.dirty || formulario.get('senha')?.touched)}">
      </div>
      @if(formulario.get('senha')?.invalid && (formulario.get('senha')?.dirty || formulario.get('senha')?.touched)){
        @if(formulario.get('senha')?.hasError('required')) {
          <small class="msg-error">* campo obrigatório. </small>
        }
      }

      <div class="form-groups buttons">
        <button class="button" [disabled]="formulario.invalid"
        (click)="setCadastro()"
        >
          Enviar
        </button>
      </div>

      <div class="form-groups buttons">
        <a class="button-link" [routerLink]="['/login']">fazer login</a>
      </div>
    </form>
  </div>

</div>