<div class="container">
  <img class="imgBackground animate__animated animate__pulse" src="assets/imagem/financas.jpg" alt="Background"/>
  <div class="content-form">
          <!-- formulario -->
          <form [formGroup]="formulario" novalidate>

            <div class="title animate__animated animate__rubberBand">
              <h1><mat-icon>lock_person</mat-icon> Login </h1>
            </div>

            <div class="form-groups">
                <input class="form-inputs" matInput formControlName="email" placeholder="meuemail@email.com">
            </div>  

            <div class="form-groups">
                <input class="form-inputs" matInput [type]="hide() ? 'password' : 'text'" formControlName="senha" placeholder="senha">
            
                  <mat-icon class="icon-passsword"
                  (click)="clickEvent($event)"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide()">
                  {{hide() ? 'visibility_off' : 'visibility'}}
                </mat-icon>
            </div>

            <div class="form-groups buttons">
              <button 
                  class="button"
                  [disabled]="formulario.invalid"
                  (click)="onEntrar()">
                  Entrar
                </button>
            </div>

            <div class="form-groups buttons">
                <button class="button">cadastre-se</button>
                <button class="button">recuperar senha</button>
            </div>
          </form>
          <!-- formulario -->
        </div>
  </div>
  
  